<footer class="container">
    <p>Sitio creado por <span>Gaburra</span></p>
</footer>
<style>
    footer{
        display: flex;
        justify-content: center;
    }
    p{
        font-size: .8rem;
    }
    span{
        color: var(--primary);
    }

</style>