---
const techs = [{
    title: "Wordpress",
    svg: "/portfolio/wp.svg"
},
{
    title: "HTML",
    svg: "/portfolio/html.svg"
},
{
    title: "CSS",
    svg: "/portfolio/css.svg"
},
{
    title: "JavaScript",
    svg: "/portfolio/js.svg"
},
{
    title: "React",
    svg: "/portfolio/react.svg"
}]
---
<div class="techs">
    {techs.map((tech) => <article>
    <img src={tech.svg} alt={tech.title}>
    <span>{tech.title}</span>
    </article>)}
</div>
<style>
    .techs{
        margin-top: 3.125rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    article{
        
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }
    @media screen and (max-width: 27.75remrem){
        img{
            width: 30px;
        }
        span{
            font-size: 12px;
        }
    }
</style>

