---
import Head from "../components/Head.astro"
import Techs from "../components/Techs.astro";
const { frontmatter } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/portfolio/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Proyecto: { frontmatter.title }</title>
</head>
<body>
    <Head />
    <main class="md container">
        <section>
            <img class="title__img" src={frontmatter.image} alt={`Imagen del proyecto de ${frontmatter.title}`} loading="lazy">
        </section>
        <section class="slot">
            <section>
                <p class="data">Proyecto: <span>{ frontmatter.title }</span></p>
                <p class="data">Web: <a href={ frontmatter.link } target="_blank" no-referrer>{ frontmatter.link }</a></p>
                <p class="data">Tecnologias:</p>
                <div class="pills">
                    {frontmatter.techs.map((t:any) => <p class="pill">{t}</p>)}
                </div>
                <p class="data">Estatus: {frontmatter.status ? <span>Completado</span> : <span class="false">En proceso</span>}</p>
            </section>
            <slot />
        </section>
    </main>
</body>
</html>
<style is:global>
    :root{
        --bg-dark: #090713;
        --text: #EAFEFF;
        --primary: #00FFFF;
        --bg-card: #14102D;
        --border-card: #2C274F;
        --text-data: #e4e4e4;
    }

    html{
        background-color: var(--bg-dark);
        color: var(--text);  
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a{
        color: var(--primary);
        text-decoration: none;
    }
    
    .container{
        max-width: 1080px;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-left: .625rem;
        padding-right: .625rem;
    }
    .md{
        margin-bottom: 3.125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title__img{
        border-radius: 10px;
        border: 1px solid var(--border-card);
        width: 100%;
    }
    .data{
        font-weight: 400;
        color: var(--text-data);
    }
    .data span{
        color: var(--text);
        font-weight: 600;
        margin-left: .25rem;
    }
    .data a:hover{
        text-decoration: underline;
    }
    .pills{
        display: flex;
        gap: .5rem;
    }
    .pill{
        background-color: var(--primary);
        border-radius: 3.125rem;
        color: var(--bg-card);
        font-size: .8rem;
        font-weight: 600;
        margin: 0;
        padding: .3125rem .625rem;
    }
    .data span.false{
        color: #ea6f6f;
    }
    .slot{
        background-color: var(--bg-card);
        border: 1px solid var(--border-card);
        border-radius: .625rem;
        margin-top: -1.875rem;
        position: relative;
        padding: .625rem .9375rem;
        width: 95%;
    }
</style>